/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	color: #777777;
	margin: 40px 0px 70px;
	border-top: medium;
	border-right: 1px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.rootPanel {
	background-image: url('fairytale.jpg');
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.gwt-LoginExistingButton {
	border-top: 1px solid #139ef5;
	background: #0800e3;
	background: -webkit-gradient(linear, left top, left bottom, from(#4a73d9),
		to(#0800e3) );
	background: -webkit-linear-gradient(top, #4a73d9, #0800e3);
	background: -moz-linear-gradient(top, #4a73d9, #0800e3);
	background: -ms-linear-gradient(top, #4a73d9, #0800e3);
	background: -o-linear-gradient(top, #4a73d9, #0800e3);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #ffffff;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}

.gwt-LoginExistingButton:hover {
	border-top-color: #474dcf;
	background: #474dcf;
	color: #ffffff;
}

.gwt-LoginExistingButton:active {
	border-top-color: #0c2bc9;
	background: #0c2bc9;
}

.gwt-LoginAsNewUserButton {
	border-top: 1px solid #139ef5;
	background: #0800e3;
	background: -webkit-gradient(linear, left top, left bottom, from(#4a73d9),
		to(#0800e3) );
	background: -webkit-linear-gradient(top, #4a73d9, #0800e3);
	background: -moz-linear-gradient(top, #4a73d9, #0800e3);
	background: -ms-linear-gradient(top, #4a73d9, #0800e3);
	background: -o-linear-gradient(top, #4a73d9, #0800e3);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #ffffff;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}

.gwt-LoginAsNewUserButton:hover {
	border-top-color: #474dcf;
	background: #474dcf;
	color: #ffffff;
}

.gwt-LoginAsNewUserButton:active {
	border-top-color: #0c2bc9;
	background: #0c2bc9;
}

.LoginPage {
	width: 597px;
	height: 285px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -142.5px 0 0 -298.5px;
}

.LobbyPage {
	width: 955px;
	height: 427px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -213.5px 0 0 -477.5px;
}

.LobbyRoomPage {
	width: 950px;
	height: 505px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -252.5px 0 0 -484px;
}

.GameInProgressPage {
	width: 505px;
	height: 950px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -252.5px 0 0 -475px;
}

.gwt-TextArea {
	border: outset 2px #3218f5;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
}

.gwt-ListBox {
	box-shadow: 3px 3px 5px #0088ff;
}

.gwt-Label {
	font-family: Garamond, serif;
	line-height: 1em;
	color: #002bff;
	font-weight: bold;
	font-size: 27px;
	text-shadow: 0px 0px 0 rgb(-67, -24, 188), 1px 1px 0 rgb(-124, -81, 131),
		2px 2px 1px rgba(0, 0, 0, 0.6), 2px 2px 1px rgba(0, 0, 0, 0.5), 0px
		0px 1px rgba(0, 0, 0, .2);
}